{% set styles= "text-center tracking-widest bg-hot inline-block px-8 py-3 rounded uppercase font-bold text-green-300 text-xs sm:text-base" %}
{% macro button(text) %}
    <a class="{{ styles }}" href="">{{ text }}</a>
{% endmacro %}