---
title: Head Count
---

{% extends 'base.njk' %}
{% block content %}
<div x-data="{hello: 'Hello from Alpine'}" class="bg-red-300">
<h1 x-text="hello"></h1>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
